### Assignment Operators
These operators are used to assign values to the variables.

In [4]:
x = 5 
x = 5 + 2  , x+= 2
x

7

In [5]:
x += 2
x

9

In [6]:
x-= 5
x

4

In [7]:
x*= 2
x

8

In [6]:
'''String Concatenation'''
x = 'ice'
y = 'cream'
x + y

'icecream'

In [6]:
x+=y
x

'icecream'

In [7]:
x

'icecream'

### Comparison Operators
These operators are used to compare two or more given values.
* Greater Than  >
* Lesser Than <
* Greater Than >=
* Less Than <=
* Not Equals to !=
* Equals to  ==

In [8]:
3==5, 5!=6

(False, True)

In [9]:
4 > 6, 3< 4

(False, True)

In [10]:
2 >= 3, 4<= 5

(False, True)

In [11]:
6 >= 10, 15<=45

(False, True)

### Logical Operators
These operators are used to perform boolean operations and check whether two or more given cases are logically correct. These are checked using and, or,  not where and stand for (*) and or stands for (+).

In [24]:
'''And Or Not'''


# Truth Table
'''AND(*)'''
True and True, True and False, False and False, False and True

(True, False, False, False)

In [25]:
'''OR(+)'''
True or True, True or False, False or False, False or True

(True, True, False, True)

In [27]:
'''NOT'''
not True, not False

(False, True)

In [28]:
not not not 1

False

### membership operators
These operators are used for checking whether a given member is present in variable or not. 

```python
x = 'aditya'
print('s' not in x)
```

```python
True
```

```python
x = 'aditya'
print('a' in x)
```

```python
True
```

### Length of Sequences in Python

In [12]:
names = ['Alex','Bran','Cookie','Limpy','Sandy']
len(names)

5

In [34]:
len(set(names)), len(tuple(names)), len('Alex')

(5, 5, 4)

### I/O in Python

In [36]:
'''Python 2'''
'''raw_input()''' # used to take inputs in string
'''input()''' #  numeric input

'''Python 3 Version'''
# int, str, float, eval -- complex
# by default data type is str.

'Python 3 Version'

In [7]:
'''take user input and add @google.com to it'''
name = input('Enter Name: ')
print(name + '@google.com')

Enter Name: learnpython
learnpython@google.com

In [11]:
a, b, c = input('Enter values with spaces: ').split() # by default space split

Enter values with spaces: 3 4 5

In [12]:
a, b, c

('3', '4', '5')

In [14]:
"FirstName"
"LastName"

name = 'Vivek Kumar Gupta'
First, Middle, Last = name.split()

In [15]:
First, Middle, Last

('Vivek', 'Kumar', 'Gupta')

In [20]:
'''Numeric Inputs'''

obtained = float(input('Enter marks obtained: '))
percentage = obtained/500*100
percentage

Enter marks obtained: 485.9

97.18

In [8]:
obtained = float(input('Enter marks obtained: '))
percentage = obtained/500*100
percentage

Enter marks obtained: 480.5

96.1

In [21]:
'''eval()'''

x = 50j
y = eval(input('Enter Complex No: '))
x + 2-y # 50j+2-(25j)

Enter Complex No: 25j

(2+25j)

In [26]:
eval('x')*3, eval('34')*2, x*3

(150j, 68, 150j)

In [27]:
import datetime
print(datetime.datetime.now())

2023-01-19 20:05:27.182285

In [28]:
import calendar
print(calendar.month(2025, 2))

   February 2025
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28

In [31]:
print(calendar.calendar(1947))

                                  1947

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                      1  2
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       3  4  5  6  7  8  9
13 14 15 16 17 18 19      10 11 12 13 14 15 16      10 11 12 13 14 15 16
20 21 22 23 24 25 26      17 18 19 20 21 22 23      17 18 19 20 21 22 23
27 28 29 30 31            24 25 26 27 28            24 25 26 27 28 29 30
                                                    31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                1  2  3  4                         1
 7  8  9 10 11 12 13       5  6  7  8  9 10 11       2  3  4  5  6  7  8
14 15 16 17 18 19 20      12 13 14 15 16 17 18       9 10 11 12 13 14 15
21 22 23 24 25 26 27      19 20 21 22 23 24 25      16 17 18 19 20 21 22
28 29 30                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3       1  2  3  4  5  6  7
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       8  9 10 11 12 13 14
14 15 16 17 18 19 20      11 12 13 14 15 16 17      15 16 17 18 19 20 21
21 22 23 24 25 26 27      18 19 20 21 22 23 24      22 23 24 25 26 27 28
28 29 30 31               25 26 27 28 29 30 31      29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       8  9 10 11 12 13 14
13 14 15 16 17 18 19      10 11 12 13 14 15 16      15 16 17 18 19 20 21
20 21 22 23 24 25 26      17 18 19 20 21 22 23      22 23 24 25 26 27 28
27 28 29 30 31            24 25 26 27 28 29 30      29 30 31

In [29]:
not not 6

True

In [33]:
not 1 * (not not 0)

True

In [33]:
import numpy as np
x = np.zeros([8, 8])
x

array([[0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0.]])

In [34]:
y = np.tile([['1', '0'],['0','1']], reps=[4,4])
y

array([['1', '0', '1', '0', '1', '0', '1', '0'],
       ['0', '1', '0', '1', '0', '1', '0', '1'],
       ['1', '0', '1', '0', '1', '0', '1', '0'],
       ['0', '1', '0', '1', '0', '1', '0', '1'],
       ['1', '0', '1', '0', '1', '0', '1', '0'],
       ['0', '1', '0', '1', '0', '1', '0', '1'],
       ['1', '0', '1', '0', '1', '0', '1', '0'],
       ['0', '1', '0', '1', '0', '1', '0', '1']], dtype='<U1')

In [56]:
pd.DataFrame(y)

   0  1  2  3  4  5  6  7
0  😂  🤣  😂  🤣  😂  🤣  😂  🤣
1  🤣  😂  🤣  😂  🤣  😂  🤣  😂
2  😂  🤣  😂  🤣  😂  🤣  😂  🤣
3  🤣  😂  🤣  😂  🤣  😂  🤣  😂
4  😂  🤣  😂  🤣  😂  🤣  😂  🤣
5  🤣  😂  🤣  😂  🤣  😂  🤣  😂
6  😂  🤣  😂  🤣  😂  🤣  😂  🤣
7  🤣  😂  🤣  😂  🤣  😂  🤣  😂