### Boolean Ops

In [1]:
True, False, 1, 0

(True, False, 1, 0)

In [2]:
int(True), int(False), int(-3), bool(-3)

(1, 0, -3, True)

### Data Types In Python

1. Python Numbers - Integers, Float, Complex
2. Strings - Characters
3. List
4. Tuples
5. Sets
6. Dictionary

In [5]:
'Single'
"Double"

'''Triple'''
"""DTriple"""


print("It's is a character.  'Hello'    ")

It's is a character.  'Hello'

In [9]:
print('My Name is "Vivek Gupta". ')

My Name is "Vivek Gupta".

In [2]:
print('''My Name is "Vivek Gupta"''')

My Name is "Vivek Gupta"

In [9]:
print(dir(str)) # used to see the directory of a module.

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [16]:
y  = ' white spaces                 '
print(y, len(y))

 white spaces                  30

In [17]:
y.strip() #remove uwanted spaces

'white spaces'

In [14]:
for y in range(5):
    print(y+1)

1
2
3
4
5

In [24]:
import pandas as pd
y = 'p y t h o n'.split()
lr = [0, 1, 2, 3, 4, 5]
rl = [-6, -5, -4, -3, -2, -1]
pd.DataFrame({'L->R': lr,
              'Data': y,
              'L<-R': rl}).T

       0   1   2   3   4   5
L->R   0   1   2   3   4   5
Data   p   y   t   h   o   n
L<-R  -6  -5  -4  -3  -2  -1

In [27]:
print(y[0], y[1], y[-6], y[2:5])

''' range(x, y)------ (x.....y-1)'''

p y p ['t', 'h', 'o']

' range(x, y)------ (x.....y-1)'

### Slicing : Ranging in Index

In [19]:
'''looking for x to y in a sequence.'''
range(10, 100)-

range(10, 100)

In [23]:
slicing = [i for i in range(10, 100+1)]
print(slicing)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [13]:
y = 'python'

In [25]:
y[2:4]

'th'

In [14]:
x = '0123456789'
x[-2:-5], y[4:1:-1], x[-5:-2]

('', 'oht', '567')

In [34]:
d = [1, 2]
d.reverse()
d

[2, 1]

### String Operations

In [16]:
# upper case
a = 'Thriller is the sixth studio album'
a.upper()

'THRILLER IS THE SIXTH STUDIO ALBUM'

In [29]:
# lower
a.lower()

'thriller is the sixth studio album'

In [8]:
# capitalize
a.upper().capitalize()

'Thriller is the sixth studio album'

In [9]:
# title
a.title()

'Thriller Is The Sixth Studio Album'

In [43]:
#swapcase
a.swapcase(), 'SwaPCAsE'.swapcase()

('tHRILLER IS THE SIXTH STUDIO ALBUM', 'sWApcaSe')

In [17]:
# formatting
a.replace('sixth', '7th')
a

'Thriller is the sixth studio album'

In [4]:
age = 0.7
print('Granny: Hello Jimmy, How old are you?')
print(f'Jimmy : Hi, Granny, I am {age} years old.')

Granny: Hello Jimmy, How old are you?
Jimmy : Hi, Granny, I am 0.7 years old.

In [23]:
print('Granny: Hello Jimmy, How old are you?')
print('Jimmy : Hi, Granny, I am {} years old.'.format(age))

Granny: Hello Jimmy, How old are you?
Jimmy : Hi, Granny, I am 0.7 years old.

In [6]:
print('Granny: Hello Jimmy, How old are you?')
print(f'Jimmy : Hi, Granny, I am %d years old.'%age)

Granny: Hello Jimmy, How old are you?
Jimmy : Hi, Granny, I am 0 years old.

In [15]:
con = 'Granny: Hello Jimmy, How old are you?'
con2 = 'Jimmy: I am 23 yrs old.'
print(con)

Granny: Hello Jimmy, How old are you?

In [45]:
pattern = ': '
print(con.split(pattern))

['Granny', 'Hello Jimmy, How old are you?']

In [16]:
speaker = con.split(':')[0]
speaker

'Granny'

In [57]:
file = '''http://localhost:8888/notebooks/theax/september/september%202022/Boolean%20Operators%2C%20String-%20Built-in%20functions%20-%20Day%204.ipynb#String-Operations'''

In [58]:
file.split('/')

['http:',
 '',
 'localhost:8888',
 'notebooks',
 'theax',
 'september',
 'september%202022',
 'Boolean%20Operators%2C%20String-%20Built-in%20functions%20-%20Day%204.ipynb#String-Operations']

In [59]:
con

'Granny: Hello Jimmy, How old are you?'

In [31]:
print(a)

Thriller is the sixth studio album

In [18]:
"sixth" in a

True

In [20]:
'Sixth' not in a

True

In [23]:
'123456'.isnumeric()

True

In [25]:
'alph132434'.isalnum()

True

In [33]:
con = 'Granny: Hello Jimmy, How old are you?'
con

'Granny: Hello Jimmy, How old are you?'

In [35]:
con.find('o', 15 ,25), con.find('o')

(22, 12)

In [67]:
con[25]

'o'

In [27]:
for i in con:
    print(i, con.count(i))

G 1
r 2
a 2
n 2
n 2
y 3
: 1
  6
H 2
e 2
l 3
l 3
o 4
  6
J 1
i 1
m 2
m 2
y 3
, 1
  6
H 2
o 4
w 1
  6
o 4
l 3
d 1
  6
a 2
r 2
e 2
  6
y 3
o 4
u 1
? 1

In [78]:
from collections import Counter
Counter(con)

Counter({'G': 1,
         'r': 2,
         'a': 2,
         'n': 2,
         'y': 3,
         ':': 1,
         ' ': 6,
         'H': 2,
         'e': 2,
         'l': 3,
         'o': 4,
         'J': 1,
         'i': 1,
         'm': 2,
         ',': 1,
         'w': 1,
         'd': 1,
         'u': 1,
         '?': 1})

In [24]:
name = "Bravo"
age = 16
print(f'Jimmy and {name}, the age of both are {age} year')

Jimmy and Bravo, the age of both are 16 year

In [25]:
print('Jimmy and {}, the age of both are {} year'.format(name, age))

Jimmy and Bravo, the age of both are 16 year

In [1]:
import random
random.random()

0.3730519368994323

In [2]:
str.join()

TypeError: unbound method str.join() needs an argument

In [3]:
mlist = [2, 2, 100, 100, 34, 5,6,7]

In [4]:
mlist

[2, 2, 100, 100, 34, 5, 6, 7]

In [5]:
"ABC".upper()

'ABC'

In [6]:
"ABC".lower()

'abc'

In [9]:
"ABC DEF".title()

'Abc Def'

In [10]:
"ABC DEF".capitalize()

'Abc def'

In [11]:
"ABC DEF".islower()

False

In [12]:
"abc".isupper()

False

In [13]:
"ABC DEF".split()

['ABC', 'DEF']

In [22]:
u1, u2, u3 = input('Enter username: ').split(' ')

Enter username: abc def ghi\\\

In [23]:
print(u1, u2, u3)

abc def ghi\\\

In [24]:
u1, u2, u3

('abc', 'def', 'ghi\\\\\\')

In [18]:
u3

'ghi\\'

In [25]:
mlist

[2, 2, 100, 100, 34, 5, 6, 7]

In [26]:
mlist.sort()
mlist

[2, 2, 5, 6, 7, 34, 100, 100]

In [27]:
mlist.sort(reverse=True)

In [28]:
mlist

[100, 100, 34, 7, 6, 5, 2, 2]

In [32]:
def desc(x):
    x.sort()
    return x[::-1]

In [33]:
desc([2, 3, -2])

[3, 2, -2]

In [35]:
a = 10
b = 7 
c = a,b = b,a
print(a,b, c)

7 10 (7, 10)

In [36]:
22/7*7/4*7/4

9.625

In [37]:
144/8/2

9.0

In [39]:
144/8/2/5

1.8

In [40]:
5/4

1.25

In [41]:
20+4%5

24