### Conditional Programming

### IF STATEMENT

In [2]:
'''check a no is pos/neg'''
number = float(input('Enter Number : '))
if number > 0:
    print('Pos')
else:
    print('Neg')

Enter Number : -98
Neg

In [3]:
if number == 0:
    print('Neutral')
elif number >0:
    print('Pos')
else:
    print('Neg')

Neg

In [4]:
# program to check for even and odd

def Myoddev(val):
    if val == 0:
        print('Even')
    elif val %2 == 0:
        print('Even')
    else:
        print("odd")

In [5]:
Myoddev(0)
Myoddev(43)
Myoddev(24/2)

Even
odd
Even

### Lists

heterogenous dtypes or elements...

In [19]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [7]:
myls  = ['Granny','Mickey','Donald','Goofy','Daisy','Mini']

In [21]:
len(myls), type(myls)

(6, list)

In [22]:
'''adding elements'''
# append
myls.append('Pete')
myls

['Granny', 'Mickey', 'Donald', 'Goofy', 'Daisy', 'Mini', 'Pete']

In [23]:
# extend
myls.extend(['Scrooge','Ludwig'])
myls

['Granny',
 'Mickey',
 'Donald',
 'Goofy',
 'Daisy',
 'Mini',
 'Pete',
 'Scrooge',
 'Ludwig']

In [24]:
# insert
myls.insert(2,'Mortimer')
myls

['Granny',
 'Mickey',
 'Mortimer',
 'Donald',
 'Goofy',
 'Daisy',
 'Mini',
 'Pete',
 'Scrooge',
 'Ludwig']

In [25]:
# remove values
myls.remove('Granny')
myls

['Mickey',
 'Mortimer',
 'Donald',
 'Goofy',
 'Daisy',
 'Mini',
 'Pete',
 'Scrooge',
 'Ludwig']

In [26]:
# pop
myls.pop()

'Ludwig'

In [27]:
myls

['Mickey', 'Mortimer', 'Donald', 'Goofy', 'Daisy', 'Mini', 'Pete', 'Scrooge']

In [28]:
# copy
cp = myls.copy()
cp

['Mickey', 'Mortimer', 'Donald', 'Goofy', 'Daisy', 'Mini', 'Pete', 'Scrooge']

In [29]:
cp.clear()

In [30]:
cp

[]

In [31]:
myls.reverse()
myls

['Scrooge', 'Pete', 'Mini', 'Daisy', 'Goofy', 'Donald', 'Mortimer', 'Mickey']

In [9]:
myls.sort()
myls

['Daisy', 'Donald', 'Goofy', 'Granny', 'Mickey', 'Mini']

In [11]:
myls[myls.index('Mini')], myls.index('Mini'), myls[myls.index('Daisy')]

('Mini', 5, 'Daisy')

In [41]:
myls[0], myls.index('Daisy')

('Daisy', 0)

In [42]:
for i in myls:
    print(i,myls.index(i))

Daisy 0
Donald 1
Goofy 2
Mickey 3
Mini 4
Mortimer 5
Pete 6
Scrooge 7

In [13]:
# try to do using zip function
f = ["Prashant",'Gupta']
l = ["Kumar", "Ji"]
list(zip(f,l))

[('Prashant', 'Kumar'), ('Gupta', 'Ji')]

In [45]:
list(zip([1, "A"], [3, "B"]))

[(1, 3), ('A', 'B')]

In [46]:
myls.count('Hello')

0

### Tuples

hetero , immutable

In [17]:
mytup = tuple(myls)
mytup.count("Mini")

1

first_name
last_name
date_of_birth
aadhar_Number
Pan_Number
Address
Gender
Mobile Number

### List Comprehension

In [49]:
for i in range(1, 10):
    if i%2 == 0:
        print(i)

2
4
6
8

In [53]:
[i for i in range(1, 10) if i%2==0]

[2, 4, 6, 8]

In [80]:
import numpy
rlist = []

for i in range(50):
    x = numpy.random.randn()
    # add values to rlist
    rlist.append(x)

In [84]:
rlist = [round(i*10+3,2) for i in rlist]
rlist

[-6.5,
 -36.5,
 21.5,
 -42.0,
 9.2,
 -17.3,
 -40.8,
 110.7,
 -123.1,
 188.8,
 40.7,
 -20.3,
 1.4,
 129.4,
 -11.8,
 140.4,
 -190.8,
 -254.0,
 -44.9,
 94.0,
 -73.4,
 160.0,
 -58.5,
 -11.4,
 -218.8,
 158.6,
 -34.3,
 113.8,
 57.9,
 109.6,
 23.9,
 -14.7,
 115.8,
 -19.7,
 227.3,
 178.9,
 -37.3,
 95.1,
 180.6,
 93.1,
 117.4,
 179.0,
 34.8,
 80.2,
 -55.0,
 151.1,
 107.7,
 142.7,
 -4.9,
 10.1]

In [85]:
post  = [i for i in rlist if i>0]
negt  = [i for i in rlist if i<0]

In [86]:
len(post), len(negt)

(29, 21)

In [87]:
print(post)

[21.5, 9.2, 110.7, 188.8, 40.7, 1.4, 129.4, 140.4, 94.0, 160.0, 158.6, 113.8, 57.9, 109.6, 23.9, 115.8, 227.3, 178.9, 95.1, 180.6, 93.1, 117.4, 179.0, 34.8, 80.2, 151.1, 107.7, 142.7, 10.1]

In [88]:
print(negt)

[-6.5, -36.5, -42.0, -17.3, -40.8, -123.1, -20.3, -11.8, -190.8, -254.0, -44.9, -73.4, -58.5, -11.4, -218.8, -34.3, -14.7, -19.7, -37.3, -55.0, -4.9]