# Dictionary

In [1]:
# dtype - dict

d = {'E_ID': [10, 20, 30], 
     'SAL': [20, 40 ,60],
     'NAME': ['A','B','C']}
d

{'E_ID': [10, 20, 30], 'SAL': [20, 40, 60], 'NAME': ['A', 'B', 'C']}

In [3]:
import pandas as pd
pd.DataFrame(data = d)

   E_ID  SAL NAME
0    10   20    A
1    20   40    B
2    30   60    C

In [5]:
d.keys()

dict_keys(['E_ID', 'SAL', 'NAME'])

In [6]:
d.values()

dict_values([[10, 20, 30], [20, 40, 60], ['A', 'B', 'C']])

In [7]:
d.items()

dict_items([('E_ID', [10, 20, 30]), ('SAL', [20, 40, 60]), ('NAME', ['A', 'B', 'C'])])

In [3]:
# add 
d['NewKey'] = [30, 50, 60 ,90]
d

{'E_ID': [10, 20, 30],
 'SAL': [20, 40, 60],
 'NAME': ['A', 'B', 'C'],
 'NewKey': [30, 50, 60, 90]}

In [4]:
d.popitem()

('NewKey', [30, 50, 60, 90])

In [5]:
d.pop('NAME')

['A', 'B', 'C']

In [6]:
#dict_name['key_name']
d['SAL'], d.get('SAL')

([20, 40, 60], [20, 40, 60])

In [8]:
import seaborn as sns
iris = sns.load_dataset('iris').to_dict()

In [15]:
iris.keys()

for i in iris:
    print(i, len(iris[i]))

sepal_length 150
sepal_width 150
petal_length 150
petal_width 150
species 150

# Functions

Two types of Functions: 

1. Built - IN 
2. User Defined

In [18]:
# abs - returna absolute value of any number
abs(-4)

4

In [19]:
# bool() - convert a val to bool
bool(2), bool(0), bool(1)

(True, False, True)

In [62]:
divmod(10,4)
def ABC(a,b):
    return (a//b, a%b)

In [ ]:
ABC(10, 4),

In [13]:
sum(d['SAL'])

120

In [23]:
sum(d['A']) - d['A'][0]

50

In [24]:
min(d)

'A'

In [25]:
max(d)

'B'

### User defined Function

In [4]:
def function_name(x):
    '''This is a null function.'''
function_name('Hello')
function_name.__doc__

'This is a null function.'

In [21]:
def greet(name):
    print('Hello, '+name)

In [29]:
greet('Prashant')
greet(name='Vivek')

Hello, Prashant
Hello, Vivek

In [104]:
# for returning absolute values of a number

def Absolute(num):
    if num > 0:
        return num
    elif num == 0:
        return 0
    else:
        return -num

In [105]:
Absolute(-32), Absolute(50), abs(-40)

(32, 50, 40)

In [106]:
# function to reverse a string

def string_reverse(x):
    string = ""
    index = len(x)
    #word = 3
    
    while index >0:
        string += x[index - 1]
        index -= 1
    print(string)

In [107]:
string_reverse('Python')
string_reverse('Anatomy')
string_reverse('nitin')
string_reverse('bob')
string_reverse('utkarsh')

nohtyP
ymotanA
nitin
bob
hsraktu

In [37]:
# function to check perfect number

def perfect_number(x):
    var = 0
    for i in range(1, x):
        if x %i == 0:
            var += i
    return var == x

In [53]:
perfect_number(6)

True

In [40]:
sum((2,3, 4, 6, 5,1, 12, 12, 12, 12, 12))

81

In [106]:
def Max(*num):
    return max(num)

In [6]:
def country(name = "India"):
    print('I am from', name)
country("Nepal")

I am from Nepal

In [110]:
def default(param = 'Alexa'):
    print('I am, '+ param)

In [112]:
default('Siri')

I am, Siri

## Lambda Functions

In [7]:
mylist = [10, 34, -87, 34, 98, 57, 36, 94, 28, 73, 71, 59]
for i in mylist:
    if i % 2== 0:
        print(i, 'even')
    else:
        pass

10 even
34 even
34 even
98 even
36 even
94 even
28 even

In [9]:
function = lambda x: (x %2 == 0)
even_list = list(filter(function, mylist))
even_list

[10, 34, 34, 98, 36, 94, 28]

In [1]:
mylist = [('English', 88), ('Science', 90), ('Maths', 97), ('Social Science', 20)]
function = lambda x: x[1]
print(list(filter(function, mylist)))

[('English', 88), ('Science', 90), ('Maths', 97), ('Social Science', 20)]

In [10]:
map_list = list(map(lambda x :(x*2), even_list))
map_list

[20, 68, 68, 196, 72, 188, 56]

In [93]:
s = lambda x : x.split('@')[-1]
y = 'wikki.stark@rediffmail.com'
s(y)

'rediffmail.com'

In [12]:
def args(*names, mood= 'happy'):
    index = len(names)
    if index>0:
        for i in names:
            print(i,'is',mood)
    else:
        print(*names, 'is', mood)
        
args('A','B', 'C', mood='bad')

A is bad
B is bad
C is bad

In [2]:
# Python Program to triple all the number
sample_list = [10, 20, 30, 40]
map_list = list(map(lambda x :(x**3), sample_list))
map_list

[1000, 8000, 27000, 64000]

In [4]:
x = [2, 4, -6, -9, 11, -12, 14, -5, 17]

negative = list(filter(lambda x:x<0, x))
positive = list(filter(lambda x:x>0,x))

print("Negative Sum: ",sum(negative))
print("Positive Sum: ",sum(positive))

Negative Sum:  -32
Positive Sum:  48

In [3]:
str.lower.__doc__

'Return a copy of the string converted to lowercase.'

In [5]:
import builtins

In [6]:
print(dir(builtins))

['ArithmeticError', 'AssertionError', 'AttributeError', 'BaseException', 'BlockingIOError', 'BrokenPipeError', 'BufferError', 'BytesWarning', 'ChildProcessError', 'ConnectionAbortedError', 'ConnectionError', 'ConnectionRefusedError', 'ConnectionResetError', 'DeprecationWarning', 'EOFError', 'Ellipsis', 'EnvironmentError', 'Exception', 'False', 'FileExistsError', 'FileNotFoundError', 'FloatingPointError', 'FutureWarning', 'GeneratorExit', 'IOError', 'ImportError', 'ImportWarning', 'IndentationError', 'IndexError', 'InterruptedError', 'IsADirectoryError', 'KeyError', 'KeyboardInterrupt', 'LookupError', 'MemoryError', 'ModuleNotFoundError', 'NameError', 'None', 'NotADirectoryError', 'NotImplemented', 'NotImplementedError', 'OSError', 'OverflowError', 'PendingDeprecationWarning', 'PermissionError', 'ProcessLookupError', 'RecursionError', 'ReferenceError', 'ResourceWarning', 'RuntimeError', 'RuntimeWarning', 'StopAsyncIteration', 'StopIteration', 'SyntaxError', 'SyntaxWarning', 'SystemError', 'SystemExit', 'TabError', 'TimeoutError', 'True', 'TypeError', 'UnboundLocalError', 'UnicodeDecodeError', 'UnicodeEncodeError', 'UnicodeError', 'UnicodeTranslateError', 'UnicodeWarning', 'UserWarning', 'ValueError', 'Warning', 'ZeroDivisionError', '__IPYTHON__', '__build_class__', '__debug__', '__doc__', '__import__', '__loader__', '__name__', '__package__', '__spec__', 'abs', 'all', 'any', 'ascii', 'bin', 'bool', 'breakpoint', 'bytearray', 'bytes', 'callable', 'chr', 'classmethod', 'compile', 'complex', 'copyright', 'credits', 'delattr', 'dict', 'dir', 'display', 'divmod', 'enumerate', 'eval', 'exec', 'execfile', 'filter', 'float', 'format', 'frozenset', 'get_ipython', 'getattr', 'globals', 'hasattr', 'hash', 'help', 'hex', 'id', 'input', 'int', 'isinstance', 'issubclass', 'iter', 'len', 'license', 'list', 'locals', 'map', 'max', 'memoryview', 'min', 'next', 'object', 'oct', 'open', 'ord', 'pow', 'print', 'property', 'range', 'repr', 'reversed', 'round', 'runfile', 'set', 'setattr', 'slice', 'sorted', 'staticmethod', 'str', 'sum', 'super', 'tuple', 'type', 'vars', 'zip']

### WAP to greet the user

In [7]:
def greet(): 
    return 'Hello'

In [8]:
greet()

'Hello'

In [10]:
def square(x):
    return x**5

In [19]:
square(2123.34)

4508572.755600001

In [23]:
def powers(x,y):
    '''
    This function will return x to the power y, where x is the base
    and y will the power.
    
    >>> def root(x = 4, y = 2): 
            return (x**y)
            
    >>> 16
    '''
    return x**y

In [29]:
powers(4,y=10)

1048576

In [38]:
def syntaxfun(y, x=4, z=2): 
    return x+y

In [34]:
syntaxfun(3)

7

### WAP to print the factorial of the user

In [57]:
def factorial(num):
    fact=1
    if num < 0:
        print("invalid input")
    elif num == 0:
        print("factorial is 1")
    else:
        for i in range(1 , num+1):
            fact = fact * i
        print(fact)

In [61]:
factorial(5)
factorial(10)
#factorial(100003948746353)

120
3628800

In [128]:
len('dfghj')

5

In [133]:
def length(x):
    count = 0
    na = [int, float, complex]
    a = [list, str, tuple]
    if type(x) in na: 
        print('Indexing Not Possible')
    elif type(x) in a: 
        for i in x: 
            count+=1
        print('---Data---')
        print(x)
        print('---Count---')
        print(count)
    else:
        print('Indexing Not Possible')

In [132]:
len(23)

TypeError: object of type 'int' has no len()

In [125]:
for i in 'Amit':
    print(i)

A
m
i
t

In [131]:
length(23)

TypeError: Indexing Not Possible

In [ ]:
im