<a href="https://colab.research.google.com/github/nodeswithsumit/Advanced-Python-Programming/blob/main/Day_1_Advanced_Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://ice-digital.com/home/images/capture.jpg' width='300' height='100' align='center'><br>


_______
# Practice Practical Questions

  Estimated time needed: **4** Hours

  ## Objectives

  After completing this lab you will have a good understanding in:

  *   Lists, Tuples, Sets, Dictionaries
  *   String Methods, Pattern Matching
  *   Common String Challenges

  *   File Handling Basics
  *   Handling Large Files

# Morning Sessions

### Write a program to create a list of numbers from 1 to 10.

In [1]:
# Create a list of numbers from 1 to 10
numbers = list(range(1, 11))

In [2]:
# Print the list
print("List of numbers from 1 to 10:", numbers)

List of numbers from 1 to 10: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

b. Remove the 5th element, add 15 at the end, and reverse the list.

In [3]:
# Remove the 5th element (index 4, as indexing starts from 0)
numbers.pop(4)

5

In [4]:
# Add 15 at the end
numbers.append(15)

In [5]:
# Reverse the list
numbers.reverse()

In [6]:
# Print the updated list
print("Updated list:", numbers)

Updated list: [15, 10, 9, 8, 7, 6, 4, 3, 2, 1]

### Create a list of squares of even numbers from 1 to 20 using list comprehension.

In [7]:
# Create a list of squares of even numbers from 1 to 20
squares_of_even = [x**2 for x in range(1, 21) if x % 2 == 0]

# Print the list
print("Squares of even numbers from 1 to 20:", squares_of_even)

Squares of even numbers from 1 to 20: [4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

### Create two sets of numbers. Perform union, intersection, and difference operations on them.

In [12]:
# Define two sets of numbers
set_a = {3, 2, 3, 1, 5}
set_b = {14, -5, 6, 0, 8}

In [13]:
print("Set A : ", set_a)
print("Set B : ", set_b)

Set A :  {1, 2, 3, 5}
Set B :  {0, 6, 8, -5, 14}

In [14]:
# Perform union
union_result = set_a.union(set_b)

In [15]:
# Perform intersection
intersection_result = set_a.intersection(set_b)

In [16]:
# Perform difference (elements in set_a but not in set_b)
difference_result = set_a.difference(set_b)

In [17]:
# Print the results
print("Union:", union_result)
print("Intersection:", intersection_result)
print("Difference (A - B):", difference_result)

Union: {0, 1, 2, 3, 5, 6, 8, 14, -5}
Intersection: set()
Difference (A - B): {1, 2, 3, 5}

### Demonstrate the immutability of frozen sets with an example.

In [18]:
# Create a normal set and a frozenset
normal_set = {1, 2, 3}
frozen_set = frozenset([4, 5, 6])

In [19]:
# Try modifying the normal set
normal_set.add(4)  # This will work
print("Normal set after adding an element:", normal_set)

Normal set after adding an element: {1, 2, 3, 4}

In [20]:
# Try modifying the frozenset
try:
    frozen_set.add(7)  # This will raise an AttributeError
except AttributeError as e:
    print("Error:", e)

Error: 'frozenset' object has no attribute 'add'

In [21]:
# Demonstrating that frozensets are immutable
print("Frozen set remains unchanged:", frozen_set)

Frozen set remains unchanged: frozenset({4, 5, 6})

**Explanation:**

* Normal sets (set) are mutable, so methods like add can be used to modify them.

* Frozen sets (frozenset) are immutable, meaning no elements can be added, removed, or changed after creation. Attempting to modify a frozenset raises an AttributeError.

### Write a program to pack three strings into a tuple and unpack them into individual variables.

In [22]:
# Pack three strings into a tuple
string_tuple = ("Python", "Programming", "Lab")

# Unpack the tuple into individual variables
str1, str2, str3 = string_tuple

# Print the unpacked variables
print("First string:", str1)
print("Second string:", str2)
print("Third string:", str3)

First string: Python
Second string: Programming
Third string: Lab

**Explanation:**

* Packing: The three strings are combined into a single tuple string_tuple.
Unpacking: The tuple is unpacked into three separate variables (str1, str2, str3).

* This demonstrates Python's ability to handle tuples for grouping and distributing data.

### Demonstrate tuple slicing with an example.

In [23]:
# Create a tuple
my_tuple = (10, 20, 30, 40, 50, 60, 70, 80)

# Slice the tuple
slice1 = my_tuple[1:5]   # Elements from index 1 to 4

In [24]:
slice2 = my_tuple[:4]    # Elements from the beginning to index 3

In [25]:
slice3 = my_tuple[3:]    # Elements from index 3 to the end

In [29]:
# Print the slices
print("Original tuple:", my_tuple)
print("Slice from index 1 to 4:", slice1)
print("Slice from start to index 3:", slice2)

Original tuple: (10, 20, 30, 40, 50, 60, 70, 80)
Slice from index 1 to 4: (20, 30, 40, 50)
Slice from start to index 3: (10, 20, 30, 40)

In [26]:
slice4 = my_tuple[::2]   # Every second element

In [27]:
slice5 = my_tuple[::-1]  # Reversed tuple

In [30]:
# Print the slices
print("Slice from index 3 to end:", slice3)
print("Every second element:", slice4)
print("Reversed tuple:", slice5)

Slice from index 3 to end: (40, 50, 60, 70, 80)
Every second element: (10, 30, 50, 70)
Reversed tuple: (80, 70, 60, 50, 40, 30, 20, 10)

***Explanation:***

* Basic slicing: Specify start:stop to get elements from start to stop-1.
Omitted indices: Leaving start or stop blank assumes the start or end of the tuple.

* Step slicing: Use start:stop:step for stepping through the tuple.
Reversing: A step of -1 reverses the tuple.

### Create a dictionary to store student marks in three subjects. Add, modify, and delete entries.

In [31]:
# Create a dictionary to store student marks
student_marks = {
    "Emma": {"Math": 88, "Science": 92, "English": 85},
    "Liam": {"Math": 76, "Science": 81, "English": 79},
    "Olivia": {"Math": 91, "Science": 89, "English": 94}
}

In [32]:
# Add a new student entry
student_marks["Noah"] = {"Math": 84, "Science": 87, "English": 90}

In [34]:
student_marks

{'Emma': {'Math': 88, 'Science': 92, 'English': 85},
 'Liam': {'Math': 76, 'Science': 81, 'English': 79},
 'Olivia': {'Math': 91, 'Science': 89, 'English': 94},
 'Noah': {'Math': 84, 'Science': 87, 'English': 90}}

In [35]:
# Modify an existing student's marks
student_marks["Liam"]["Math"] = 82

In [36]:
student_marks

{'Emma': {'Math': 88, 'Science': 92, 'English': 85},
 'Liam': {'Math': 82, 'Science': 81, 'English': 79},
 'Olivia': {'Math': 91, 'Science': 89, 'English': 94},
 'Noah': {'Math': 84, 'Science': 87, 'English': 90}}

In [37]:
# Delete a student entry
del student_marks["Olivia"]

In [38]:
# Print the updated dictionary
print(student_marks)

{'Emma': {'Math': 88, 'Science': 92, 'English': 85}, 'Liam': {'Math': 82, 'Science': 81, 'English': 79}, 'Noah': {'Math': 84, 'Science': 87, 'English': 90}}

### Create a dictionary comprehension that maps numbers (1-10) to their squares.

In [39]:
# Dictionary comprehension to map numbers to their squares
squares = {x: x**2 for x in range(1, 11)}

# Print the resulting dictionary
print("Dictionary of squares:", squares)

Dictionary of squares: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

# Afternoon Session

### Write a program to format a string into uppercase, lowercase, and title case.

In [40]:
# Input string
input_string = "The quick brown fox jumps over the lazy dog."

In [41]:
# Convert to uppercase
uppercase_string = input_string.upper()

In [42]:
print(uppercase_string)

THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG.

In [43]:
# Convert to lowercase
lowercase_string = input_string.lower()
print(lowercase_string)

the quick brown fox jumps over the lazy dog.

In [44]:
# Convert to title case
titlecase_string = input_string.title()
print(titlecase_string)

The Quick Brown Fox Jumps Over The Lazy Dog.

In [45]:
# Print the results
print("Original String:", input_string)
print("Uppercase:", uppercase_string)
print("Lowercase:", lowercase_string)
print("Title Case:", titlecase_string)

Original String: The quick brown fox jumps over the lazy dog.
Uppercase: THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG.
Lowercase: the quick brown fox jumps over the lazy dog.
Title Case: The Quick Brown Fox Jumps Over The Lazy Dog.

### Split a string on commas and join it back with semicolons.

In [46]:
# Input string (list of items separated by commas)
shopping_list = "Alexa,Siri,Co-Pilot,Gemini,ChatGPT"

In [48]:
# Split the string on commas
items = shopping_list.split(',')
print(items)

['Alexa', 'Siri', 'Co-Pilot', 'Gemini', 'ChatGPT']

In [49]:
# Join the list of items with semicolons
semicolon_separated = ';'.join(items)

In [50]:
# Print the results
print("Original string:", shopping_list)
print("Split into a list:", items)
print("Joined with semicolons:", semicolon_separated)

Original string: Alexa,Siri,Co-Pilot,Gemini,ChatGPT
Split into a list: ['Alexa', 'Siri', 'Co-Pilot', 'Gemini', 'ChatGPT']
Joined with semicolons: Alexa;Siri;Co-Pilot;Gemini;ChatGPT

### Validate if a string is a valid email address using re.match().

In [51]:
import re

# Function to validate email address
def validate_email(email):
    # Regular expression for basic email validation
    pattern = r'^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$'

    # Use re.match() to check if the email matches the pattern
    if re.match(pattern, email):
        return True
    else:
        return False

**Explanation:**

Regular expression pattern:

* `^[a-zA-Z0-9_.+-]+`: Matches one or more characters from letters, digits, underscores, dots, plus, or hyphen before the "@" symbol.

* `@[a-zA-Z0-9-]+`: Matches the "@" symbol followed by one or more letters, digits, or hyphens for the domain name.

* `\.[a-zA-Z0-9-.]+$`: Matches a period followed by domain extensions (like .com, .org), with letters, digits, or hyphens allowed after the dot.

* `re.match()`: It checks if the email string matches the provided pattern. If it matches, the function returns True, otherwise False.

This pattern provides basic validation. For more strict validation, additional checks (like handling different domain extensions or ensuring the domain part is fully qualified) might be required.

In [52]:
# Test the function with some examples
email1 = "test@example.com"
email2 = "invalid-email@com"
email3 = "valid_email123@domain.co"

print(f"{email1} is valid: {validate_email(email1)}")
print(f"{email2} is valid: {validate_email(email2)}")
print(f"{email3} is valid: {validate_email(email3)}")

test@example.com is valid: True
invalid-email@com is valid: False
valid_email123@domain.co is valid: True

### Write a function to check if a string is a palindrome.

In [53]:
def is_palindrome(s):
    # Remove spaces and convert to lowercase for uniformity
    cleaned_string = s.replace(" ", "").lower()

    # Check if the string is the same when reversed
    return cleaned_string == cleaned_string[::-1]

In [54]:
# Test the function with some examples
test_strings = [
    "racecar",        # Palindrome
    "hello",          # Not a palindrome
    "A man a plan a canal Panama",  # Palindrome with spaces
    "Was it a car or a cat I saw?"  # Palindrome with punctuation
]

In [55]:
for test in test_strings:
    print(f"'{test}' is palindrome: {is_palindrome(test)}")

'racecar' is palindrome: True
'hello' is palindrome: False
'A man a plan a canal Panama' is palindrome: True
'Was it a car or a cat I saw?' is palindrome: False

### Count occurrences of the word "Python" in a multi-line string.

In [56]:
import re

def count_python_occurrences(text):
    # Use re.findall() to find all occurrences of the word "Python" (case-insensitive)
    occurrences = re.findall(r'\bPython\b', text, flags=re.IGNORECASE)
    return len(occurrences)

In [57]:
# Example multi-line string
multi_line_string = """
Python is a powerful programming language.
Many developers love Python because it's versatile.
Python supports multiple paradigms, including object-oriented and functional programming.
Python is widely used in web development, data science, automation, and more.
"""

In [59]:
# Count the occurrences of "Python"
count = count_python_occurrences(multi_line_string)

print(f"The word 'Python' appears {count} times in the text.")

The word 'Python' appears 4 times in the text.

### Write a function to check if a string is a pangram.

A pangram is a sentence that contains every letter of the alphabet at least once. Here's a function to check if a given string is a pangram:

In [60]:
import string

def is_pangram(s):
    # Convert the string to lowercase and remove any non-alphabetic characters
    s = s.lower()

    # Create a set of all alphabet characters
    alphabet_set = set(string.ascii_lowercase)

    # Create a set of characters in the input string
    input_set = set(filter(str.isalpha, s))

    # Check if the input set contains all letters of the alphabet
    return input_set == alphabet_set

In [61]:
# Test the function with some examples
test_strings = [
    "The quick brown fox jumps over the lazy dog",  # Pangram
    "Hello World",  # Not a pangram
    "Pack my box with five dozen liquor jugs"  # Pangram
]

In [62]:
for test in test_strings:
    print(f"'{test}' is a pangram: {is_pangram(test)}")

'The quick brown fox jumps over the lazy dog' is a pangram: True
'Hello World' is a pangram: False
'Pack my box with five dozen liquor jugs' is a pangram: True

## File Handling

For File handling we can mount the Google Drive for the files to be accessed and stored in Drive else **you can also work without mounting the drive but Files be will deleted after runtime is disconnected**

In [68]:
# mount Google Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### Write a program to read a text file and count the number of words and lines in it.

In [63]:
def count_words_and_lines(file_path):
    # Initialize counters for lines and words
    line_count = 0
    word_count = 0

    # Open the file and read line by line
    with open(file_path, 'r') as file:
        for line in file:
            line_count += 1  # Increment line counter
            words = line.split()  # Split the line into words
            word_count += len(words)  # Increment word counter by the number of words in the line

    return line_count, word_count

In [69]:
# Example usage
file_path = "/content/drive/MyDrive/IBM ICE /Introduction to Python Programming/sample.txt"  # Replace with your file path
lines, words = count_words_and_lines(file_path)

print(f"The file contains {lines} lines and {words} words.")

The file contains 3 lines and 17 words.

### Create a new file and write the multiplication table of a given number into it.

In [70]:
def write_multiplication_table(number, file_name):
    # Open the file in write mode (this will create the file if it doesn't exist)
    with open(file_name, 'w') as file:
        # Write the multiplication table into the file
        for i in range(1, 11):
            result = number * i
            file.write(f"{number} x {i} = {result}\n")

    print(f"Multiplication table of {number} has been written to {file_name}")

In [71]:
# Example usage
number = 5  # Replace with any number for the multiplication table
file_name = "multiplication_table.txt"  # Name of the file to save the table

In [72]:
write_multiplication_table(number, file_name)

Multiplication table of 5 has been written to multiplication_table.txt

In [76]:
# Let's check the file

with open('/content/multiplication_table.txt', 'r') as file:
    for line in file:
        print(line.strip())

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

### Write a program to read a file line by line using a generator for memory efficiency.

In [77]:
def read_file_line_by_line(file_path):
    # Generator function to read file line by line
    with open(file_path, 'r') as file:
        for line in file:
            yield line.strip()  # Yield each line, stripping the newline character

In [80]:
# Example usage
file_path = "/content/drive/MyDrive/IBM ICE /Introduction to Python Programming/sample.txt"  # Replace with your file path

In [81]:
# Using the generator to read lines one by one
for line in read_file_line_by_line(file_path):
    print(line)

Hello, this is a sample file.
It contains several lines and words.
Each line will be counted.